<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
       	<servlet-name>UseForwardServlet1Mapping</servlet-name>
    	<servlet-class>web_basic.ch09.UseForwardServlet1</servlet-class>
    	               <!-- ↑↑サーブレットのいる位置 -->
    </servlet>
    <servlet-mapping>
        <servlet-name>UseForwardServlet1Mapping</servlet-name>
    	<url-pattern>/UseForwardServlet1</url-pattern>
    </servlet-mapping>
</web-app>


	
